@page {
  size: A4;
  margin: 0;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #ffffff;
  color: #1b1b1b;
  font-family: "Times New Roman", Times, serif;
}

.page {
  position: relative;
  width: 210mm;
  height: 297mm;
  overflow: hidden;
}

.logo {
  position: absolute;
  left: 18mm;
  top: 16mm;
  width: 42mm;
}

.blue-line {
  position: absolute;
  left: 16mm;
  right: 16mm;
  height: 2px;
  background: #2a63b8;
}

.heading {
  font-family: "Times New Roman", Times, serif;
  font-weight: 700;
  color: #2a63b8;
}

.subtle {
  color: #2a63b8;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
}

.center {
  text-align: center;
}

.field {
  font-weight: 700;
  color: #000000;
}

.muted {
  color: #4a4a4a;
}

.signature {
  font-family: "Times New Roman", Times, serif;
  font-size: 12px;
  color: #333333;
}

.footer {
  position: absolute;
  left: 16mm;
  right: 16mm;
  bottom: 10mm;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 9px;
  color: #2a63b8;
  line-height: 1.35;
}

.block {
  position: absolute;
  left: 20mm;
  right: 20mm;
}

.label {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
  color: #2a63b8;
}

.table {
  width: 100%;
  border-collapse: collapse;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
}

.table th,
.table td {
  border: 1px solid #6f6f6f;
  padding: 4px 6px;
  text-align: left;
}

.table th {
  background: #f2f2f2;
  font-weight: 700;
}
